body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.dark{
    padding: 15px;
    background: #979088;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*header */

.logo{
    width: auto;
    height: 170px;
}

header{
    background-color: #ffffff;
    color: #354248;
    min-height: 100px;
    border-bottom: #f0c0b4 3px solid;
    border-top: #f0c0b4 20px solid;
}

header a{
    color: #354248;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}  

header ul{
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #f0c0b4;
    font-weight: bold;

}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* showcase */

#showcase{
    min-height: 400px;
    background: url('../IMG/fundo.png') no-repeat 0 30px;
    text-align: center;
    color:#354248;
    background-size: cover; 
    margin-top: -30px;
}


#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 50px;
}

/* Newsletter */

#newsletter {
    padding: 60px;
    color: white;
    background: #354248;
    border-top: #ffffff 20px solid;
}

#newsletter h3{
    float: left;
    font-size:x-large;
    margin-top: 35px;
    margin-left: 10px;
}
 

#newsletter form{
    float: right;
    margin-top: 15px;
}

#zap{
    cursor: pointer;
    color: #ffffff;
}

#icon{
    cursor: pointer;
}
/* boxes */


.boxes{
    padding-bottom: 30px;
}


.box{
    width: auto;
    height: 315px;
    color: #354248;
    border-radius: 30px;
    margin: 0 10px;
    padding: 20px;   
    float:left;
    width:31%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 16px 22px 0 rgb(90 91 95 / 30%);
    background-color: rgb(240 192 180 / 65%);
    cursor: pointer;
}

.box:hover {
    box-shadow: 0 0 7px rgb(0 0 0 / 30%);
}

.box img{
    width: 120px;
}

.dif {
    margin-top: 30px;
}

#titlemarcas::after{
    display: block;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    content: "";
    height: 2px;
    width: 300px;
    background-color: #f0c0b4;
}


/* SIDE BAR */

#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

#main-col{
    float:left;
    width: 65%;
}

/* Services */

#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
    margin-right: 50px;
}

.containerpolitica{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-left: 300px;
}

.page-title{
    margin-top: 20px;
}


footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #f0c0b4;
    text-align: center;
}



@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #Boxes .box,
    #main-col,
    #sidebar{
        float:none;
        text-align: center;
        width: 100%;
    }   

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }
}
